@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
  box-sizing: border-box;
  list-style: none;
}

body {
	font-size: 13px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

/* header - navbar */

.menu {
	z-index: 2;
	display: flex;
}

.menu .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.logo {
	display: inline-block;
}

.menu-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-list-item, .catalog-list-item {
  margin: 0 25px;
}

.menu-list li a, .catalog-list li a {
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
}

.menu-list li a:hover {
  color: #e4bb23;
}

.user {
  display: flex;
  justify-content: flex-start;
	align-items: center;
}

.user-img {
	border-radius: 100%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	height: 45px;
	margin-right: 15px;
	overflow: hidden;
	width: 45px;
}

.user-img img {
  width: 100%;
	height: auto;
} 

.user-name p {
  color: #FFF;
  font-weight: bold;
  font-size: 13px;
}

/* introdução */

.intro {
	background-attachment: fixed;
	background-image: url(../img/movies/capa-madmax2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
	padding: 20px;
	position: relative;
	width: 100%;
}

.intro:after {
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 212, 255, 0) 75%
	);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.intro {
	width: 100%;
}

.intro-content .container {
	position: relative;
	z-index: 2;
}

.movie-title {
  color: #fff;
	font-size: 65px;
	font-weight: bold;
	line-height: 78px;
	margin: 0 auto;
	text-transform: uppercase;
}

.genre {
	display: flex;
	margin: 15px 0 30px;
	font-size: 13px;
}

.genre-item {
  color: #fff;
	text-decoration: none;
	margin-right: 15px;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

.genre-item:hover {
  color: #e4bb23;
}

.intro-btn {
  display: inline-block;
	padding: 15px 45px;
	color: #000;
	font-size: 15px;
	text-decoration: none;
	background-color: #e4bb23;
	border-radius: 40px;
	position: relative;
  transition: all 0.2s ease-in-out;
}

.intro-btn i {
  font-size: 25px;
	position: absolute;
	right: 15px;
	top: 12px;
}

.intro-btn:hover{
    background-color: #bc9a1d;
}

.intro-info  {
  padding: 20px 0;
	font-size: 14px;
	color: #fff;
}

.intro-info p:last-child{
  color: #bc9a1d;
}

/*  catologo de filmes */

.catalog {
  background-color: #f2f2f2;
	width: 100%;
}

.menu-catalog {
  width: 100%;
}

.catalog-list {
  align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 20px;
}

.catalog-list-item {
  margin: 0 20px;
}

.catalog-list li a {
  color: #e4bb23;
  display: inline-block;
	padding: 25px 0;
}

.catalog-list li a:hover {
	box-shadow: inset 0 -1px 0 #e4bb23;
}

.movie-poster {
  margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.movie-poster img {
  width: 230px;
	height: auto;
}

.catalog-movies {
  align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
}

.movies-item {
  background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
  width: 24%;
}

.sinopse h3 {
  text-transform: uppercase;
}

.sinopse-genre-item {
  text-decoration: none;
  color: #e4bb23;
  cursor: pointer;
  text-transform: capitalize;
}

.sinopse-genre-item:hover {
  text-decoration: underline;
}

.poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
  position: absolute;
  text-transform: uppercase;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.movies-item:hover .poster-info {
	opacity: 1;
	visibility: visible;
}

.poster-info h3 {
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.filme-poster-link {
	color: #fff;
	font-size: 80px;
	transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
	color: #e4bb23;
}

.sinopse {
  padding: 10px;
	width: 100%;
}

.sinopse-title {
  font-size: 15px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.sinopse-genre {
  margin: 10px 0;
	display: flex;
}

.movie-note {
  margin: 0;
	align-items: center;
	display: flex;
	font-size: 20px;
	font-weight: bold;
	justify-content: space-between;
}

.movie-note i {
  color: #ccc;
	cursor: pointer;
}

.movie-note i:hover {
  color: #ff0000;
}

/* footer */

.footer { 
    background-color: #fff;
    color: #bababa;
    padding: 20px 0;
    width: 100%;  
}

.footer .container {
  display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
  display: inline-block;
  margin-left: 20px;
}

.footer-list {  
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    right: 9px;
    top: 2190px;
}

.footer-list-item { 
  margin: 0px 20px;
}

.footer-list-item a {
  font-size: 25px;
	color: #bababa;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.twitter-icon a:hover {
	color: #55acee;
}

.facebook-icon a:hover {
	color: #3b5998;
}

.instagram-icon a:hover {
	color: #e95950;
}
